.horizontal-product-list {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0;
  }
  
  .product-item {
    max-width: 400px;
    max-height: 400px;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .product-item h3 {
    margin: 10px 0;
  }
  
  .product-item p {
    font-size: 0.9em;
    color: #666;
  }
  