.search-bar {
    display: flex;
    justify-content: center;
  }
  
  .search-bar input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-bar button {
    padding: 10px;
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }
  